.involved-sent {
    background-color: #1553b66e;
    margin: 40px 20px 240px 20px;
    padding: 40px 20px 120px 40px;
}

.involved-sent p {
    padding: 20px 0px;
}

.involved-sent__link {
    text-decoration: underline;
}