.contact-background-picture {
    background: url(../images/contact1.jpg);
    min-height: 50vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    min-width: 100%;
}

.contact {
    margin: 30px;
}

.contact h2 {
    margin-top: 40px;
}

.contact-form__input {
    display: block;
    width: 100%;
    font-size: 0.9em;
    margin: 5px 2px;
    padding: 5px 2px;
}
