.contact-background-picture {
    background: url(../images/contact1.jpg);
    min-height: 50vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    min-width: 100%;
}

.contact {
    margin: 30px;
    font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
    max-width: 500px;
}

form {
    margin-top: 50px;
}

.contact-container__input,
.contact-container textarea {
    background-color: #F0F0F0;
}
