.events-background-picture {
    background: url(../images/events1.jpg);
    min-height: 50vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    min-width: 100%;
}

.img-events {
    max-height: 100px;
    border-radius: 50%;
}