.events-background-picture {
  background: url(../images/events1.jpg);
  min-height: 50vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  min-width: 100%;
}

.events {
  position: relative;
  margin: 30px;
}

.img-events {
  max-height: 100px;
  border-radius: 50%;
  margin: 40px 30px 0px 0px;
}

.events-content {
  display: flex;
  margin: 30px;
}

.events-content__text {
  margin: 0px 15px;
}

.cta-contact {
  position: absolute;
  right: 0px;
  margin: 50px 0px 100px 0px;
}
