.home-top {
    background-image: url(../images/home.jpg);
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    min-width: 100%;
    position: relative;
}

.home-top__content {
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 15px 20px;
    border-radius: 8px;
}
 
.home-explore {
    background-color: #EBF6FD;
    padding: 1px 20px 20px 20px;
    margin: 30px 20px;
}

.home-h2 {
    text-align: center;
}

.home-explore__content {
    margin-bottom: 40px;
}

.home-explore__li,
.home-visit__content li {
    font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    margin-left: 15px;
}

.home-pages {
    margin: 30px 50px;
}

.home-pages__content {
    margin: 0px 0px 70px 0px;
}

