.involved-background-picture {
    background: url(../images/involved1.jpg);
    min-height: 50vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    min-width: 100%;
}

.involved {
    margin: 30px;
}

.involved-text li {
    font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    margin-left: 15px;
}

.involved-sign-up {
    padding: 7px 35px 15px 10px;
    margin-top: 40px;
    background-color: #EBF6FD;
}

.involved-sign-up__form {
    display: block;
    padding: 7px;
    font-size: 0.8em;
    width: 100%;
}
