@media (max-width: 649px) {
  .logo {
    height: 45px;
  }

  .nav-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-ul {
    display: flex;
    align-items: center;
    padding: 0px;
    display: none;
    width: 100%;
  }

  .nav-ul.show {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    font-size: 2em;
    cursor: pointer;
    display: inline;
  }
}

@media (min-width: 650px) and (max-width: 899px) {
  .logo {
    height: 45px;
  }

  .nav-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-ul {
    display: flex;
    align-items: center;
    padding: 0px;
    display: none;
    width: 100%;
  }

  .nav-ul.show {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    font-size: 2em;
    cursor: pointer;
    display: inline;
  }

  .home-top__content {
    padding: 30px;
    left: 20px;
    font-size: 1em;
  }

  .home-pages,
  .exhibition,
  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .home-explore {
    padding: 10px 50px;
    margin-top: 100px;
  }

  .home-pages__content {
    margin: 5px 5px 100px 5px;
  }

  .involved,
  .about {
    margin: 40px 60px;
  }

  .about-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .visit-content {
    margin: 50px 70px;
  }

  .contact-form {
    margin: 100px auto;
    max-width: 450px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.6em;
  }

  .img-logo {
    max-height: 55px;
  }

  .header-links__small-screen {
    display: none;
  }

  .header-links__big-screen {
    display: inline;
    margin-right: 30px;
  }

  .header-links {
    padding: 0px 15px;
    font-size: 1.1em;
  }

  .header-links:hover,
  .fa-search:hover {
    background-color: #1553b6d3;
    padding: 20px 15px;
  }

  footer,
  .about-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .footer-container {
    justify-self: center;
  }

  .links-top {
    margin-left: 5px;
  }

  .home-top__content {
    left: 60px;
    top: 50px;
    padding: 35px;
    font-size: 1.1em;
  }

  .home-explore_content,
  .home-pages,
  .exhibition {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }

  .home-explore {
    margin: 150px 20px;
  }

  .home-explore__content-content {
    margin-bottom: 0px;
    margin: 20px;
  }

  .home-pages__content {
    margin: 5px 5px 100px 5px;
  }

  .about,
  .visit-content,
  .involved,
  .sent,
  .events {
    max-width: 850px;
    margin: 60px auto;
  }

  .about-images {
    margin: 50px;
  }

  .visit-content {
    display: flex;
  }

  .visit-content__text {
    margin: 40px;
    flex-basis: 50%;
  }

  .contact-form {
    margin: 100px auto;
    max-width: 450px;
  }
}
