@media (max-width: 649px) {
    .header-links__big-screen {
        display: none;
    }
    
    .hamburger-links {
        display: none;
    }

    #hamburger-menu {
        display: none;
    }

    #hamburger-menu:checked ~ nav {
        display: block;
    }

    .fa-bars {
        margin-right: 10px;
    }

    .hamburger-links ul {
        list-style-type: none;
        list-style-type: none;
        position: absolute;
        z-index: 1;
        background-color: white;
        margin: 25px -226px;
        width: 300px;
        padding: 20px 0px;
        text-transform: uppercase;
    }

    .hamburger-links-link {
        padding: 10px 10px 15px 30px;
    }

    .hamburger-links-link:hover {
        color: red;
    }
}

@media (min-width: 650px) and (max-width: 899px) {
    h1 {
        font-size: 1.6em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.3em;
    }

    .header-links__small-screen {
        display: none;
    }

    .header-links__big-screen {
        display: inline;
        margin-right: 30px;
    }
    
    .footer-links {
        font-size: 0.8em;
    }

    .fa-instagram, 
    .fa-facebook-f, 
    .fa-snapchat-ghost {
        font-size: 1em;
    }

    .home-top__content {
        top: 30px;
    }

    .home-explore_content,
    .home-pages__content,
    .exhibition {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    .home-explore__content-content {
        margin-bottom: 0px;
        margin: 20px;
    }

    .home-pages__content-content {
        margin: 5px;
    }

    .involved {
        margin: 40px 60px;
    }

    .about {
        margin: 40px 50px;
    }

    .about-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }

    .visit-content, 
    .contact {
        margin: 30px 50px;
    }
    
    .events-content {
        margin: 40px 80px;
    }

    .events__sign-up {
        margin: 40px;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.8em;
    }
    
    h3 {
        font-size: 1.6em;
    }
    
    p {
        font-size: 1.1em;
    }
    
    .img-logo {
        max-height: 55px;
    }

    .header-links__small-screen {
        display: none;
    }

    .header-links__big-screen {
        display: inline;
        margin-right: 30px;
    }

    .header-links {
        padding: 0px 20px;
        font-size: 1em;
    }

    footer {
        padding: 0px 40px;
    }

    .fa-instagram, 
    .fa-facebook-f, 
    .fa-snapchat-ghost {
        font-size: 1.2em;
    }

    .home-top__content {
        left: 40px;
        top: 30px;
    }

    .home-explore_content,
    .home-pages__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }

    .home-explore {
        margin: 60px 50px;
    }

    .home-explore__content-content {
        margin-bottom: 0px;
        margin: 20px;
    }

    .home-pages__content-content {
        margin: 5px;
    }

    .home-visit {
        display: flex;
    }

    .home-visit__content {
        margin: 0px 20px;
        flex-basis: 75%;
    }

    .home-visit__h3-location {
        margin: 0px;
    }

    .exhibition {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }  

    .involved {
        display: flex;
        margin: 40px 60px;
    }

    .involved-text {
        margin-right: 50px;
    }

    .about, 
    .contact {
        max-width: 900px;
        margin: 60px auto;
    }

    .about-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        margin: 50px;
    }
    
    .visit-content {
        display: flex;
    }

    .visit-content__text {
        margin: 40px;
        flex-basis: 33%;
    }

    .events {
        display: flex;
        margin: 30px 50px;
    }

    .events__sign-up {
        width: 100%;
    }

    .events__sign-up-form {
        font-size: 0.9em;
    }

}
