.search {
    background-color: #1553b66e;
    margin: 40px 20px 240px 20px;
    padding: 40px 20px 140px 20px;
    display: flex;
    flex-direction: column;
}

.search-field {
    padding: 20px;
    flex-grow: 1;
    background: url(../images/search.png) no-repeat 98% white;
}