body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

h1, h2, h3, a {
    font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

.h1-margin {
    margin-left: 20px;
}

.links-top {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.header-links {
    display: inline;
    padding: 20px 3px;
    text-transform: uppercase;
}

.header-links:hover,
.fa-search:hover {
    background-color:#1553b6d3;
    padding: 20px 3px;
}

.header-links:active {
    background-color: #1553b662;
}

.img-logo {
    max-height: 45px;
}

.fa-search,
.fa-bars {
    color: #103867;
    font-size: 1.3em;
    padding: 20px 5px;
}

.header-icon {
    padding-right: 20px;
    position: absolute;
    right: 0px;
}

.img-general {
    width: 100%;
}

.cta-contact {
    background-color: #1554B6;
    color: white;
    padding: 7px;
    display: block;
    border: solid 1px #1554B6;
    border-radius: 3px;
    text-transform: uppercase;
    transition-duration: 0.4s; 
    text-align: center; 
    width: 100%;
}

.cta-contact:hover {
    background-color: white;
    color: #1554B6;
    border: solid 1px #1554B6;
}

.cta-read-more {
    background-color: #103867;
    color: white;
    padding: 7px;
    border: #103867 1px solid;
    border-radius: 3px;
    display: block;
    margin: 5px 0px;
    max-width: 100px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

.cta-read-more:hover {
    background-color: white;
    color: #103867;
    border: solid 1px #103867;
}

footer {
    background-color: #F0F0F0;
    padding: 30px 40px;
    margin-top: 80px;
}

.footer-container {
    margin-bottom: 40px;
}

.footer-links__link {
    list-style-type: none;
    text-decoration: underline;
    padding: 5px;
    font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
}

.footer-links__link:hover {
    background-color:#1553b6d3;
}

.fa-grip-lines-vertical {
    color: #103867;
    padding-right: 10px;
}

.fa-instagram, 
.fa-facebook-f, 
.fa-snapchat-ghost {
    padding: 5px;
    font-size: 1.2em;
}

.fa-instagram:hover, 
.fa-facebook-f:hover, 
.fa-snapchat-ghost:hover {
    background-color:#1553b6d3;
}