body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

h1, h2, h3, a {
    font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6em;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.0em;
}

h3 {
    font-size: 0.8em;
}

.h1-margin,
.li-margin  {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0px;
}

.header-links {
    display: inline;
    padding: 0px 5px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.header-links:hover {
    background-color:#1553b6d3;
    padding: 20px;
}

.fa-search:hover {
    background-color:#1553b6d3;
    padding: 20px 5px;
}

.img-logo {
    max-height: 35px;
    padding-right: 10px;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
}

.header-links__small-screen {
    margin-right: 40px;
} 

.header-links__big-screen {
    display: none;
}

.fa-search {
    color: #103867;
}

.header-icon {
    font-size: 1em;
    padding: 0px 10px 0px 0px;
    position: absolute;
    right: 0px;
}

.links-top {
    margin-left: 15px;
}

.img-general {
    width: 100%;
}

.cta-contact {
    background-color: #1554B6;
    color: white;
    padding: 7px;
    display: block;
    border-radius: 3px;
    max-width: 180px;
    margin: 5px 0px 15px 0px;
    font-size: 0.8em;
    text-transform: uppercase;
    transition-duration: 0.4s;  
}

.cta-contact:hover {
    background-color: white;
    color: #1554B6;
    border: solid 1px #1554B6;
}

.cta-read-more {
    background-color: #103867;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 3px;
    display: block;
    margin: 5px 0px;
    max-width: 75px;
    font-size: 0.8em;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.cta-read-more:hover {
    background-color: white;
    color: #103867;
    border: solid 1px #103867;
}

footer {
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 80px;
}

.footer-links {
    font-size: 0.7em;
}

.footer-links__link {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer-links__link:hover {
    background-color:#1553b6d3;
    padding: 5px;
}

.fa-instagram, 
.fa-facebook-f, 
.fa-snapchat-ghost {
    padding: 0px 5px;
    font-size: 0.8em;
}