body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
a {
  font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

.h1-margin {
  margin: 60px 0px 60px 30px;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.logo {
  height: 60px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 30px;
}

.nav-ul li {
  display: inline;
}

.nav-ul li a {
  padding: 20px;
}

.nav-ul li a:hover {
  background-color: #1553b6d3;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.hamburger {
  display: none;
}

.links-top {
  padding-inline-start: 30px;
}

.links-top a {
  font-size: 0.8em;
}

.active-link {
  color: grey;
}

.header-links {
  display: inline;
  padding: 20px 3px;
}

.header-links a:hover {
  color: white;
}

.header-links:hover {
  background-color: #1553b662;
  color: white;
}

.img-general {
  width: 100%;
}

.cta-contact {
  background-color: #008a00;
  color: white;
  padding: 7px;
  display: block;
  border: solid 1px #008a00;
  border-radius: 3px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  text-align: center;
  width: 100%;
  font-weight: 700;
  max-width: 300px;
  transition: 1s;
  margin: auto;
}

.cta-contact:hover {
  background-color: white;
  color: #008a00;
  border: solid 1px #008a00;
}

footer {
  background-color: #f0f0f0;
  padding: 30px 40px;
  margin-top: 400px;
  font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
}

.footer-container {
  margin-bottom: 40px;
}

.footer-container p {
  margin: 2px;
}

.footer-container h3 {
  font-size: 1em;
}

.footer-links__link {
  list-style-type: none;
  text-decoration: underline;
  padding: 5px;
}

.fa-grip-lines-vertical {
  color: #103867;
  padding-right: 10px;
}

.fa-instagram,
.fa-facebook-f,
.fa-snapchat-ghost {
  padding: 5px;
  font-size: 1.2em;
}

.footer-links__link a:hover {
  color: white;
}

.footer-links__link:hover,
.fa-instagram:hover,
.fa-facebook-f:hover,
.fa-snapchat-ghost:hover {
  background-color: #1553b6d3;
  transition: 1s;
  color: white;
  border-radius: 5px;
}
