.visit-background-picture {
    background: url(../images/visit1.jpg);
    min-height: 50vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    min-width: 100%;
}

.visit-content {
    margin: 20px;
}

.visit-content__text li {
    font-family: "PT Serif", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    margin-left: 15px;
}